/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/AllTests.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/grounding/GroundingImplTest.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/topology/MyTopologyImpl.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/topology/TopologyImplTest.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/utils/BPEL4ChorNamespaceMapTest.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/utils/BPEL4ChorReaderTest.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/utils/BPEL4ChorUtilTest.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/utils/BPEL4ChorWriterTest.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/utils/WSUIDGeneratorTest.class
/src/org.bpel4chor.model.test/bin/org/bpel4chor/model/utils/ZipUtilTest.class
/src/org.bpel4chor.model/bin/log4j.properties
/src/org.bpel4chor.model/bin/org/bpel4chor/interfaces/INamespaceMap.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/grounding/impl/Grounding.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/grounding/impl/MessageLink.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/grounding/impl/ParticipantRef.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/grounding/impl/Property.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/package.html
/src/org.bpel4chor.model/bin/org/bpel4chor/model/pbd/impl/ParticipantBehaviorDescription.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/topology/impl/MessageLink.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/topology/impl/Participant.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/topology/impl/ParticipantSet.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/topology/impl/ParticipantType.class
/src/org.bpel4chor.model/bin/org/bpel4chor/model/topology/impl/Topology.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/ActivityIterator.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorConstants.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorFactory.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorIniFileUtil.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorNameGenerator.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorNamespaceMap.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorReader.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorUtil.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/BPEL4ChorWriter.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/ContainmentValue.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/ExtendedActivityIterator.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/FragmentDuplicator.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/MyBPELReader.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/MyBPELUtils.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/MyWSDLUtil.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/PBDResource.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/PBDWriter.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/WSUIDGenerator.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/ZipUtil.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/exceptions/AmbiguousPropertyForLinkException.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/exceptions/MalformedTLGLSyntaxException.class
/src/org.bpel4chor.model/bin/org/bpel4chor/utils/package.html
